body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    
  }
  
  .chat-container {
    display: flex;
    height: 95vh;
    padding-top: 70px;
    
  }
  
  .sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .chat-area {
    flex-grow: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(195,19,19,1) 4%, rgba(24,23,23,1) 100%, rgba(43,42,42,1) 100%);
    color: white;

  }
  
  .messages-container {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .private-messages {
    list-style-type: none;
    padding: 0;
  }
  
  .private-messages li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .private-messages li:hover {
    color: #007bff;
  }
  
  .message-input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .send-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .send-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .chat-container {
      flex-direction: column;
      height: auto;
    }
  
    .sidebar {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
    }
  
    .chat-area {
      margin: 0;
    }
  }
  